.home{
    background-image: linear-gradient( to right  , #eee8d9 30% ,#ffffff00 70%); 
    padding-top: 5%;
    overflow-x: hidden;
}
.navigationbar{
    background-color: rgba(255, 255, 255, 0.568);
   
}
.nav-item{
    background-color: #ebe3d0 ;
    margin: 10px 10px;
    width: 110px;
    text-align: center;
    border-radius: 50px;
    color: black;
    transition: 0.5s;

}

.nav-item:hover{
    background-color: #ebe3d0 ;
    margin: 10px 10px;
    width: 110px;
    text-align: center;
    border-radius: 50px;
    color: black;
    transition: 0.5s;
    box-shadow: 5px 6px 8px #afa282a2 ;

}
.nav-active{
    box-shadow: 5px 6px 8px #afa282a2 ;
}
.navlink{
    color: #918464;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
}

.collapse2{
    text-align: center;
    width: 100%;
}
.logo{
    width: 100%;
}

.topicCol{
text-align: center;
padding: 10% 0%;
}
.topic{
font-size: 25px;
color: #000;
}
.red{
    color: rgb(201, 10, 10);

}

.topic2{
    font-size: 50px;
    color: #978b6d;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}


.crdCol{
    text-align: center;
}

.crd{
   
    height: 400px;
    width: 80%;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px #afa282a2 ;
    -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-size: 190%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #AFA282;
  position: relative;
  
}
.crd:hover{
    background-size: 250%;
}



.overlay{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    transform:translateY(100%);
    padding: 35% 10%;
    
}

.overlay > p{
    color:#CAC3AC ;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    font-size: 20px;
}
.overlay > h2{
    color:#CAC3AC ;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
}
.topic3{
color: white;
font-family: 'Cormorant Garamond', serif;
font-size: 50px;
font-weight: 900;
}
.topic4{
color: white;
font-family: 'Cormorant Garamond', serif;
font-size: 25px;
font-weight: 700;
}

.crdTopic{
    color: #6e6854;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    margin-top: 10%;
    
}

@media screen and (max-width : 1200px) {
    .topic2{
        font-size: 40px;
        color: #AFA282;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 600;
    }
}

@media screen and (max-width : 992px) {
    .overlay{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    transform:translateY(0%);
    padding: 35% 10%;
    
}
.overlay > p{
    color:#CAC3AC ;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    font-size: 20px;
    display: none;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    transform:translateY(100%);
    padding: 55% 10%;
    
}

}
@media screen and (max-width : 768px) {
    .navigationbar{
        background-color: rgba(255, 255, 255, 0.979);
       
    }
    .topic{
        font-size: 20px;
        color: #000;
        }
        .nav-active{
            box-shadow: 5px 6px 8px #afa28200 ;
        }
        .nav-item{
            background-color: #afa28200 ;
            margin: 10px 10px;
            width: 100%;
            text-align: center;
            border-radius: 50px;
            color: black;
            transition: 0.5s;
        
        }
        
        .nav-item:hover{
            background-color: #afa28200 ;
            margin: 10px 10px;
            width: 100%;
            text-align: center;
            border-radius: 50px;
            color: black;
            transition: 0.5s;
            box-shadow: 5px 6px 8px #afa28200 ;
        
        }
        .navlink{
            color: #AFA282;
            text-decoration: none;
            font-family: 'Cormorant Garamond', serif;
            font-weight: 600;
        }
        .overlay{
            background-color: rgba(0, 0, 0, 0.603);
            width: 100%;
            height: 100%;
            transform:translateY(100%);
            padding: 45% 10%;
            
        }
}

@media screen and (max-width : 575px) {
    .crd{
   
        height: 300px;
        width: 60%;
        overflow: hidden;
        text-align: center;
        margin-top: 20px;
        background-size: 190%;
    }
}